<div class="card text-center">
  <div class="card-body">
    <img class="img_style" src="assets/img/laquimica.png" alt="LaQuimica">
    <hr>
    <p class="card-text text_style">
      Conformado el grupo de invstigación, se indaga acerca de las diferentes
      dificultades que se presentan en el entorno y se concluye que la Comunidad
      Educativa se ve afectada por situaciones como: la vulnerabilidad de la
      zona institucional al consumo de sustancias psicoactivas-SPA-, el micro
      tráfico en los alrededores de la institución educativa Maria Poussepin, el
      incremento del consumo de SPA por parte de los estudiantes de la
      institución, hogares disfuncionales, el número de estudiantes que
      posiblemente lleguen a la institución bajo el efecto de sustancias
      psicoactivas y las implicaciones a las que esta situación conlleva a la
      institución, al estudiante y a su familia, entre otros.
    </p>
    <hr>
    <h3 class="card-title">Pregunta De Investigación</h3>
    <p class="card-text text_style">
      ¿Qué estrategias generan un impacto en los estudiantes de sexto a once de
      la Institución Educativa María Poussepin para evaluar su perspectiva
      frente al consumo de sustancias psicoactivas?
    </p>
    <h3 class="card-title">Objetivo General</h3>
    <p class="card-text text_style">
      Sensibilizar a los estudiantes de 6º a 11º de la Institución Educativa
      María Poussepin del Municipio de Envigado con- ciencia frente al consumo
      de sustancias psicoactivas.
    </p>
    <hr>
  </div>
</div>