<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
      <a class="navbar-brand" [routerLink]="['home']">
          <img class="img-config" src="assets/img/laquimica.png" alt="LaQuimica">
      </a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <div class="navbar-nav navbar-config">
          <a class="nav-link text_style" aria-current="page" routerLinkActive="active" [routerLink]="['home']">Inicio</a>
          <a class="nav-link text_style" routerLinkActive="active" [routerLink]="['investigacion']">Investigación</a>
          <a class="nav-link text_style" routerLinkActive="active" [routerLink]="['galeria']">Galeria</a>
        </div>
      </div>
    </div>
</nav>
